{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "target": "es2021"
  },
  "module": {
    "type": "commonjs"
  },
  "transform": {
    "react": {
      "runtime": "automatic"
    }
  },
  "sourceMaps": true
}
